body {
     background-color: rgb(0, 0, 0);
     color: rgb(19, 26, 225);
     margin: 0px;
}

header {
  border-bottom: solid 2px black;
  padding: 20px;
  font-size: 32px;
  color: rgba(10, 73, 220, 0.407);
}

h1 {
    font-size: 30px;
}

p {
    color: rgb(12, 25, 219);
    font-size: 16px;
}